*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    --red: #F74843;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
}
section{
    height: 230px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.col1{
    width: 568px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
section h1{
    font-size: 38px;
    line-height: 49px;
    font-weight: 700;
    color: var(--red);
}
p{
    font-size: 22px;
    line-height: 35px;
    font-weight: 200px;
    color: white;
}
.col2{
    width: 453px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 40px;
    width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
input::placeholder{
    font-size: 20px;
    font-weight: 400;
}
.headingRow{
    margin: 1em;
    height: 84px;
    width: 80%;
}
.headingRow a{
    text-decoration: none;
}
h1:hover{
    transition: .5s;
    color: white;
}
h1{
    font-size: 70px;
    line-height: 84px;
    font-weight: 900;
    color: var(--red);
    
}
footer{
    height: 190px;
    width: 100%;
    background-color: var(--red);    
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 165px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .col{
    width: 380px;
    height: 140px;
    display: flex;
}
h3{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: white;
}
.content .links{
    height: 140px;
    width: 280px;
}
.linksHeading{
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: white;
    margin-bottom: 0.5em;
}
li{
    list-style-type: none;
}
li a{
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    text-decoration: none;
    color: black;
}
li a:hover{
    color: white;
}
.col img{
    width: 84px;
    height: 31px;
}
.verHr{
    height: 30px;
    width: 1px;
    border-right: 1px solid white;
    margin-left: 1em;
    margin-right: 1em;
}